    body{
        margin: 0;
        
    }
    #head{
        position: absolute;
        top: 0;
        left: 0;
        height: 30vh;
        width: 100%;
        background-color: rgba(119, 172, 172, 0.5);
        
    }
    #head-logo{
        margin-left: 5%;
        margin-top: 4%;
        font-family: comic sans;
        font-size: 50px;
    }
    #nav{
        margin-top: 30vh;
        background-color: rebeccapurple;
        height: 5vh;
        width: 100%;
    }
    marquee{
        font-size: 20px;
    }
    .quenstion-box{
        height: 35vh;
        width: 95%;
        background-color: aliceblue;
        margin-left: 1%;
        margin-top: 10vh;
        padding: 1%;
    }
    .quenstion-box h2{
        font-size: 30px;
        font-family: Comic Sans MS;
        margin-left: 5%;
    }
    hr{
        height: 1px;
        background-color: rgb(158, 58, 158);
    }
    .quenstion-box label{
        height: 5vh;
        width: 30%;
        margin-top: 15px;
        margin-left: 2%;
        font-size: 20px;
        
    }
    .option{
        margin-left: 10%;
        margin-top: 0.5%;
    }
    #chk{
        height: 10vh;
        width: 30vw;
        margin-top: 5%;
        margin-left: 35vw;
        border-radius: 10%;
        
        
    }